/* 
    Namesto font-weight: bold
    uporabi font-family: 'Open Sans Bold'
*/

body {
    background:#ededed;
}

 .row {
     margin: 0;
 }

.date {
    text-align: center;

}

td {
    text-align: left;
}

.cena{
    text-align: center;
    font-family: 'Open Sans Bold';
}

.p:hover{
    color: blue;
}

.bi-plus-square-fill:hover{
    color: blue;
    
}


.addbill{
    float: right;
}
.headleft{
    text-align: left;
}

.ena{
    padding-bottom: 20px;
}


.add:active {
	position:relative;
	top:2px;
}

.zadnji {
    text-align: right;
}

.date {
    width: 5vw;
}

tr.border_bottom td {
    border-bottom: 1px solid #dee2e6;
  }

.search {
    float:right;
}

.row {
    margin: 0;
}

.container {
    background: white;
}

.container {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);
    box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);  
    padding: 0;
}

#cards-section {
    padding: 4vh;
    margin-top: 2vh;
}

.container #cards-section {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media only screen and (min-width: 900px) {
    #welcome-alert-section {
        margin-top:15vh;
    }
}

@media only screen and (max-width: 991px) {
    #welcome-alert-section {
        margin-top:10vh;
    }
}

#welcome-alert-section {
    margin-top: 15vh;
    padding: 4vh;
}

#welcome-alert-section .row {
    padding: 1.5vh;
}

.yellow-panel {
    background: #ffbb33;
}

.warner:hover .replies{
    display: none; }

 
.warner:hover .comments:before{
    content: "January 25: Petrol $80";
    /*position: relative;
    text-align: center;
    font-size: 2.5vh;
    display: table-cell; 
    vertical-align: middle;*/
}

.warn-after {
    text-align: center;
    font-size: 2.5vh;
}
