body {
    background: #242424;
    color:white;
}

body a {
    text-decoration: none; 
    color:white;
}

body a:hover {
    text-decoration: none; 
    color:white;
}

.fas {
    color: white;
    opacity: 0.8;
}

.collapse .card { background: #2b2b2b }

.close { color: white; }

.progress { opacity: 0.8 }

.btn-primary { opacity: 0.8; }

.modal-content { 
    background: #2b2b2b;
    border-color: #595959

}

.modal input{
    background: #2b2b2b;
    color: white; 
    border-color: #595959

}

.modal select{
    background: #2b2b2b;
    color: white; 
    border-color: #595959
}

.modal textarea {
    background: #2b2b2b;
    color: white;
    border-color: #595959
 
}

.modal input:focus{ 
    background: #2b2b2b; 
    color: white;
    border-color: #595959
}

.modal select:focus{ 
    background: #2b2b2b;
    color: white;
    border-color: #595959
 }

.modal textarea:focus{ 
    background: #2b2b2b;
    color: white;
    border-color: #595959

 }

.dropdown-menu { background: #2b2b2b; }

.dropdown-item { color: white }    

.dropdown-item:hover { 
    background: #2b2b2b;
    color: lightgray; 
}

.container {
    background: #2b2b2b;
    -webkit-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    -moz-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    padding: 0;
}

.card-counter {
    opacity:0.8;
    -webkit-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    -moz-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
}

.btn-primary {
    -webkit-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    -moz-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
}

.btn-success {
    -webkit-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    -moz-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
}

nav {
    -webkit-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    -moz-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
}

.footer {
    -webkit-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    -moz-box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
    box-shadow: 0px 1px 15px 1px rgb(30, 30, 30);
}
