@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
<<<<<<< HEAD
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
=======
>>>>>>> e70d1685083c4b924e07508518396928c9a4c597
}