.button {

    font-size: 16px;
    font-family:'Open Sans';
    
    
    text-align: center;

}

.navbar-nav {
    list-style: none;
}

.nav-link {
  float: left;
  position: relative;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #lightblue;
}


a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: transparent;
}
.navbar-light .navbar-nav .nav-link {
	color:white;
}

.navbar-light .navbar-nav .nav-link :hover {
	color:white !important;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff ;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:focus {
	color:white;
}

.navbar-light .navbar-brand {
	color:white;
}


.nav-link:after {
    transition: width .5s ease, background-color .5s ease, left .5s ease;
}
  
.nav-link:hover:after {
    width: 100%;
    left: 0;
    background: white;
}

.navbar-light{
   /* color: black; */
   background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
	background: linear-gradient(to right, #00b09b, #96c93d);
}

.navbar-brand{
    color: #343a40;
}
.nav-item {
    padding: 1vh;

}

.navbar-brand {
    font-family:'Open Sans';
}

.navbar-brand img {
    margin-top:-3%;
    padding:0;
}


body {
    background-color: white;

}

.jumbotron{
    background: #00b09b; 
 	background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
 	background: linear-gradient(to right, #00b09b, #96c93d);
	height: 100vh;
	vertical-align: middle;
	color:white;
}

.img-responsive{
    max-width: 250px;
    float: right;
}

/*Modal sign in*/
.modal-login {		
	max-width: 450px;
	width: 100%;
}

.modal-open{
	padding-right: 0px !important;
}
.fade{
	padding-right: 0px !important;
}

.modal-login.modal-dialog {
	margin-top: 100px;
	margin-bottom: 0px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
}
.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}

.modal-login .modal-header img {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin-top: 30px;
	margin-bottom: -15px;
	font-family: 'Open Sans'
}

.modal-login .form-control:focus {
	background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
 	background: linear-gradient(to right, #00b09b, #96c93d);
	border-width: 1px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 0px;
	border-width: 1px; 
	border-radius: 3px;
	font-family: 'Open Sans'
}

.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}		

.modal-login .btn{
	color: white;
	border-radius: 20px;
	background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
 	background: linear-gradient(to right, #00b09b, #96c93d);
	text-decoration: none;
	line-height: normal;
	border: none;
	transition: 1s;
}

.modal-login .btn:hover {
	background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
 	background: linear-gradient(to right, #00b09b, #96c93d);
	outline: none;
}

.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom:-20px;
	margin-left:-20px;
	margin-right:-20px;
	border-radius: 5px;
	font-size: 13px;
	padding: 24px;
}
.modal-login .modal-footer .a1, .modal-login .modal-footer .a2 {
	color: #999;
	font-family: 'Open Sans';
}	

.modal-login .modal-footer .a1 {
	position: absolute;
	left: 30px;
}

.modal-login .modal-footer .a2 {
	position: absolute;
	right: 30px;
}

.modal-content {
	width:100%;
  }

.modal-dialog {
	left: calc(-50vw + 50%);
	right: calc(-50vw + 50%);
	margin-left: auto;
	margin-right: auto;
}
html {
	overflow: hidden;
	height: 100%;
  }
  body {
	overflow: auto;
	height: 100%;
  }
  
  /* unset bs3 setting */
  .modal-open {
   overflow: auto; 
  }

.navbar-light .navbar-toggler {
    color:white;
    border-color: white;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.btn-primary {
	color:white;
	background-color: #46bc70;
	border-color: white;
	border-width: 3px;
	border-radius: 30px;
}

.btn-primary:hover {
	color:#46bc70;
	background-color: white;
	border-color: white;
	border-width: 3px;
	border-radius: 30px;
}
.btn-primary:focus {
	color:white;
	background-color: #46bc70;
	border-color: white;
	border-width: 3px;
	border-radius: 30px;
}
.btn-primary:focus:hover{
	
	color:#46bc70;
	background-color: white;
	border-color: white;
	border-width: 3px;
	border-radius: 30px;
}
.btn-primary:active {
	color:#46bc70 !important;
	background-color: white !important;
	border-color: white !important;
	border-width: 3px !important;
	border-radius: 30px !important;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff ;
}
.btn:focus{
	box-shadow: none;
}

.pred-footer{
	background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
 	background: linear-gradient(to right, #00b09b, #96c93d);
}

.footer {
    color: white;
    height: 8vh;
    width:100%;
    padding-top:3vh;
    overflow-x: hidden;
	position: relative;
	bottom: 0; 
	margin-top: 0px !important;
}

.footer-col {
    padding-bottom:0vh;
    text-align: center;
	text-transform: uppercase;
	color: white;
}


.title{
	text-align: center;
	padding:12vh;
}

.pred-footer{
	margin-top: 10vh;
	color:white;
}

.about{
	text-align: center;
}

@media screen and (min-width: 768px){

	.feat1{
		height: 86vh;
	}
	.about{
		height: 70vh;
	}
}

.card-text {
	text-align: justify;
}

.footer-col a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Open Sans';
	padding: 0px !important;
}

.footer-col a:hover {
    text-decoration: underline;
}

.footer-row{
	padding-top: 6vh;
}

.footer{
	height: 10vh;
}

@media only screen and (min-width: 900px) {
    .footer {
		margin-top:9vh;
	}
	a.anchor {
		top: -100px;
	}

}

@media only screen and (max-width: 991px) {
    .footer {
        margin-top:4vh;
	}
	a.anchor {
		top: -56px;
	}
    
}

@media only screen and (max-width: 575px) {
    .footer {
		height: 12vh;
		padding-top:3vh;
	}
	.right{
		text-align: center;
	}
	.navbar-collapse{
		background-color: darkgrey;
	}
}
@media screen and (max-width: 768px) and (min-width:576px) {

	.right{
		text-align: left;
	}
	.btn-primary{
		background-color: #57be64;
	}
}

@media screen and (max-height: 576px) and (max-width: 768px) {

	.navbar-collapse{
		background-color: darkgrey;
	}
}
@media screen and (max-height: 700px){
	
	.slika{
		height: 300px;
	}
	.right{
		text-align: center;
	}
}



.jumbotron3{
	background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
 	background: linear-gradient(to right, #00b09b, #96c93d);
    padding: 40px;
}

.card{
	padding-left: 0px;
	padding-right: 0px;
	border: 0px;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

.card-img-top{
	max-height: 200px;
}


.card .carousel-item {
	height: 200px;
  }
  .card .carousel-caption {
	padding: 0;
	right: 0;
	left: 0;
	color: #3d3d3d;
  }
  .card .carousel-caption h3 {
	color: #3d3d3d;
  }
  .card .carousel-caption p {
	line-height: 30px;
  }
  .card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
  }
  .card .carousel-caption .col-sm-9 {
	text-align: left;
  }
  .navi a {
	  text-decoration:none;
  }
  a > .ico {
	  background-color: grey;
	  padding: 10px;
	  
  }
  a:hover > .ico {
	  background-color: #666;
  }
  
@keyframes slideFromUp {
    0% {
      transform: translateY(500%);
    }
    100% {
      
    }

}




#phone {
    animation: .75s ease-out 0s 1 slideFromUp;
	
}

#welcome-text {
	animation: .65s ease-out 0s 1 slideFromUp;

}