/* 
    Namesto font-weight: bold
    uporabi font-family: 'Open Sans Bold'
*/

/* Navbar related CSS */

nav .button {
    font-size: 16px;
    font-family:'Open Sans';
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}


.container {
    position:relative;
    padding-top:10vh;
}


.navbar-light {
    text-decoration: none;
}

.nav-link:hover {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.nav-item {
    padding: 1vh;
}


.navbar-brand {
    font-family: 'Open Sans';
}

.navbar-brand img {
    margin-top:-3%;
    padding:0;
}

.active {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
}

.fas {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
    font-family: 'Open Sans';
}

.center {	
    margin: auto;	
    width: 50%;	
    padding: 10px;	
}

/*@media only screen and (min-width: 900px) {
    .notification{
        white-space: nowrap;
    }
   .alert{
        padding-top: 0.75rem;
        padding-right: 0;
        margin-right: 2.25rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
    }
    .dropdown-menu{
        width: auto;
        height: auto;
    }
}*/

.tekst{
    vertical-align: sub;
}

/* Footer related */

.footer {
    color: white;
    height: 35vh;
    width:100%;
    margin-top: 15vh;
    padding-top:7.5vh;
    background: #343a40;
}

.footer-col {
    padding-bottom:1vh;
    text-align: center;
    text-transform: uppercase;
    
}

.bottom-row-footer {
    padding-top:5vh;
    padding-bottom:7.5vh;
    background: #343a40;
    color:gray;
}

.footer-col a {
    text-decoration: none;
    color: white;
}

.footer-col a:hover {
    text-decoration: underline;
    color: gray;
}

.bottom-row-footer a{
    text-decoration: none;
    color:gray;
}

.bottom-row-footer a:hover{
    text-decoration: underline;
    color:gray;
}

.footer-row{
    padding-top: 6vh;
}


/* Progress bar related */


.progress {
    height: 3vh;
    font:inherit;
    text-align: center;
    background-color: #a1ceff;
    border-radius: .5vw;
}

.progress-bar{
    height: 1vh;
    position: relative;
    border: solid #007bff;
    border-radius: .5vw;
    display: inline-block;
    color:white
}

.progress-bar{
    overflow: visible;
}

.progress-tooltip p {
    margin: 0;
}

.progress-bar .progress-tooltip{
    display: none;
    position: absolute;
    margin: 0 auto;
    float: none;
    top: 3.5vh;
    background:#003166;
    border: 1px #003166;
    border-radius: 10%; 
    padding-left: 1vw;
    padding-right: 1vw;
    z-index: 1000;
}

.progress-bar:hover .progress-tooltip{
    display: block;

}



/* IKONE */

.fa-pencil-alt:hover {
    color:#007bff;
}



/* CARDS */


.card-counter{
    margin: 2.5%;
    padding: 2vh 1vh;
    color: #fff;
    height: 12vh;
    border-radius: 5px;
  }

  .card-counter i{
    font-size: 8vh;
    opacity: 0.3
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 15%;
    top: 15%;
    font-size: 5vh;
  }

  .card-counter .count-name{
    position: absolute;
    right: 10%;
    top:65%;
    opacity: 0.5;
    font-size: 2vh;
  }



