body {
    background:#ededed;
}

.container {
    background: white;
}

.container {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);
    box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);  
    padding: 0;
}

.row {
    margin: 0;
}


@media only screen and (min-width: 900px) {
    #welcome-alert-section {
        margin-top:15vh;
    }

}

@media only screen and (max-width: 991px) {
    #welcome-alert-section {
        margin-top:10vh;
    }
    
}

#welcome-alert-section {
    padding: 4vh;
}

#converter {
    padding: 4vh;
    margin-top: 2vh;

}

#welcome-alert-section .row {
    padding: 1.5vh;
}

#converter .row {
    padding: 1.5vh;

}

#main-section .row {
    padding: 1.5vh;
}

.row3 {
    text-align: center;
}
