/* 
    Namesto font-weight: bold
    uporabi font-family: 'Open Sans Bold'
*/

body {
    background:#ededed;
}

 .row {
     margin: 0;
 }


td {
    text-align: left;
}

.search {
    float:right;
}

.row {
    margin: 0;
}

.container {
    background: white;
}

.container {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);
    box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);  
    padding: 0;
}

@media only screen and (min-width: 900px) {
    #welcome-alert-section {
        margin-top:15vh;
    }
}

@media only screen and (max-width: 991px) {
    #welcome-alert-section {
        margin-top:10vh;
    }
}



:root {
    color-scheme: light dark; /* both supported */
  }
