<main>
    <app-header [component]="'envelopes'"></app-header>

    <div class="modal fade" id="addEnvelopeForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25 toastek">
                <div class="toast ml-auto tt5" role="alert" data-delay="3000" data-autohide="false">
                  <div class="toast-header">
                      <strong class="mr-auto text-primary">HINT</strong>
                      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="toast-body">
                     Input may only contain letters, numbers, some special characters (_@./#&+-: ) and whitespaces. Length allowed: 1-14
                  </div>
                </div>
                <div class="toast ml-auto tt1" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain decimal numbers separated by . with max 2 decimal places.
                    </div>
                </div>
                <div class="toast ml-auto tt7" id="date-hint" role="alert" data-delay="3000" data-autohide="false">
                        <div class="toast-header">
                            <strong class="mr-auto text-primary">HINT</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            Expense can't be in the future.
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="addEnvelope" method="post" action="/envelopes" onsubmit="return disableButton2()">
                    <input type="hidden" value="addEnvelope" name="formType">
                    <input type="hidden" value="{{data.setMonthNumber}}" name="setMonth">
                    <div class="modal-body">
                        <div class="ena">
                            <label for="chooseCategoryEnvelope">Category</label>
                            <select id="inputCategory" name="chooseCategoryEnvelope" class="form-control" onchange="checkCategory(this)" required>
                                <option value="" selected>Select category</option>
                                <div *ngFor="let item of data.category;">
                                    <option value="{{item.name}}" id="category{{item._id}}">{{item.name}}</option>
                                </div>
                                <option value="other">Make your own</option>
                            </select>
                       
                            <label for="categoryAddEnvelope"></label>
                            <input type="text" class="form-control" id="ime" onfocusout="nameAdd(this)" name="categoryAddEnvelope" placeholder="Or create your own" style="display:none" disabled>
                        </div>
    
                        <div class="ena"><label for="inputAmount">Amount</label><br />
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{data.currency}}</span>
                                </div>
                                <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" name="inputAmount" onfocusout="amount(this)"id="inputAmount" placeholder="0.00" step="any">
                            </div>
                            <div id="amm"></div>
                        </div>
    
                        <div class="ena">
                            <label id="colorPickerLabel" for="colorPicker" style="display:none" >Color Picker</label><br />
                            <input type="color" id="colorPicker" name="colorPicker"  style="display:none" disabled>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="disableButton2()" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div *ngFor="let item of data.envelope;" class="modal fade editForm" id="editForm{{data._id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25 toastek">
                <div class="toast ml-auto tt8" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain decimal numbers separated by . with max 2 decimal places.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">  
                    <h5 class="modal-title">{{item.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--- ADD FORM --->
                <form name="addEnvelope" method="post" action="/envelopes" onsubmit="">
                    <div class="modal-body">
                        <div class="ena"><label for="inputAmount">New Budget</label><br />
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{data.currency}}</span>
                                </div>
                                <input type="hidden" value="{{data._id}}" name="id">
                                <input type="hidden" name="formType" value="editEnvelope" />
                                <input type="number" id="Amount3{{data._id}}" name="inputAmount" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount6(this)" placeholder="0.00" step="any">
                            </div>
                            <div id="vnos{{data._id}}"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="" class="btn btn-primary">Add</button>
                    </div>
                </form>
                <!--- DELETE FORM --->
            </div>
        </div>
    </div>

    <div class="modal fade" id="addExpenseForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25 toastek">
                <div class="toast ml-auto tt2" role="alert" data-delay="3000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain letters, numbers, some special characters (_@./#&+-: ) and whitespaces. Length allowed: 1-16
                    </div>
                </div>
                <div class="toast ml-auto tt3" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain decimal numbers separated by . or , with max 2 decimal places.
                    </div>
                </div> 
                <div class="toast ml-auto tt4" id="date-hint" role="alert" data-delay="3000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Expense can't be in the future.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="addExpense" method="post" action="/envelopes" onsubmit="return disableButton()">
                    <input type="hidden" name="formType" value="addExpense" />
                    <div class="modal-body">
                        <div class="ena"><label for="inputGoal">Category</label><br />
                            <select id="inputCategory" name="inputCategory" class="form-control">
                                <option selected>Choose a category</option>
                                <div *ngFor="let item of data.category;">
                                    <option id="category{{item._id}}">{{item.name}}</option>
                                </div>
                            </select>
                        </div>
                        <div class="ena">
                            <label for="Payee">Recipient</label><br>
                            <input type="text" id="Payee25" name="recipient" class="form-control" placeholder="e.g. Elektro Ljubljana d.d." onfocusout="nameAdd2(this)" value="" required="required">
                            <div id="txt"></div>
                        </div>
                        <div class="ena"><label for="inputAmount">Amount</label><br />
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span id="currencyPrepend" class="input-group-text">{{data.currency}}</span>
                                </div>
                                <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount5(this)" id="Amount2" name="inputAmount" placeholder="0.00" step="any">
                            </div>
                        </div>
                        <div class="ena"><label for="inputAmount">Currency</label><br />
                            <div class="input-group mb-3">
                                <select id="inputCurrency" onchange="setCurrency();" name="inputCurrency" class="form-control">
                                    <option value="EUR" selected="selected" label="Euro">EUR</option>
                                    <option value="USD" label="US dollar">USD</option>
                                    <option value="GBP" label="British Pound sterling">GBP</option>
                                    <option value="HRK" label="Croatian kuna">HRK</option>
                                    <option disabled>──────────</option>
                                    <option value="JPY" label="Japanese yen">JPY</option>
                                    <option value="AUD" label="Australian dollar">AUD</option>
                                    <option value="BGN" label="Bulgarian lev">BGN</option>
                                    <option value="BRL" label="Brazilian real">BRL</option>
                                    <option value="CAD" label="Canadian dollar">CAD</option>
                                    <option value="CHF" label="Swiss franc">CHF</option>
                                    <option value="CNY" label="Chinese yuan">CNY</option>
                                    <option value="CZK" label="Czech koruna">CZK</option>
                                    <option value="EUR" label="EURO">EUR</option>
                                    <option value="GBP" label="British pound">GBP</option>
                                    <option value="HKD" label="Hong Kong dollar">HKD</option>
                                    <option value="HRK" label="Croatian kuna">HRK</option>
                                    <option value="HUF" label="Hungarian forint">HUF</option>
                                    <option value="ILS" label="Israeli new shekel">ILS</option>
                                    <option value="INR" label="Indian rupee">INR</option>
                                    <option value="ISK" label="Icelandic króna">ISK</option>
                                    <option value="JPY" label="Japanese yen">JPY</option>
                                    <option value="KRW" label="South Korean won">KRW</option>
                                    <option value="MXN" label="Mexican peso">MXN</option>
                                    <option value="MYR" label="Malaysian ringgit">MYR</option>
                                    <option value="NOK" label="Norwegian krone">NOK</option>
                                    <option value="NZD" label="New Zealand dollar">NZD</option>
                                    <option value="PHP" label="Philippine peso">PHP</option>
                                    <option value="PLN" label="Polish złoty">PLN</option>
                                    <option value="RON" label="Romanian leu">RON</option>
                                    <option value="RUB" label="Russian ruble">RUB</option>
                                    <option value="SEK" label="Swedish krona">SEK</option>
                                    <option value="SGD" label="Singapore dollar">SGD</option>
                                    <option value="THB" label="Thai baht">THB</option>
                                    <option value="TRY" label="Turkish lira">TRY</option>
                                    <option value="USD" label="United States dollar">USD</option>
                                </select>                      
                              </div>
                        </div>
    
                        <div class="ena">
                            <label for="datum">Date</label><br>
                            <input type="date" id="inputDate15" name="date" onfocusout="dateCheck2(this)"class="form-control" value="{{data.year}}-{{data.month}}-{{data.day}}"required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"  onclick="disableButton()" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!----- Welcome section ----->
    <app-welcome [message]="data.message" [welcomeMessage]="data.welcomeMessage"></app-welcome>

    <div class="container" id="cards-section">
        <div class="row">
            <div *ngFor="let item of data.card" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 aos-init aos-animate"id="card{{item.id}}" data-aos="flip-down" data-aos-duration="500" style="margin: 0 auto">
                <card [id]="item.id" [color]="item.color" [icon]="item.icon" [count]="item.count" [title]="item.title" [comment]="item.comment"></card>
            </div>
            <div id="envelopeSectionTag"></div>
        </div>
        
    </div>

    <div class="container" id="main-section">
        <div class="row">
            <div class="col-3 col-sm-4 col-md-4 col-lg-5 col-xl-5 puscica-leva">
                <form action="/envelopes" method="GET">
                <input type="hidden" name="monthMinus" value="{{data.setMonthNumber}}"/> 
                <button class="arrowButton" type="submit"><i class="arrow left"></i></button>
                </form>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 mesec">
                <h4>{{data.setMonth}}</h4>
            </div>
            <div class="col-3 col-sm-4 col-md-4 col-lg-5 col-xl-5 puscica-desna">
                <form action="/envelopes" method="GET">
                <input type="hidden" name="monthPlus" value="{{data.setMonthNumber}}"/> 
                <button class="arrowButton" type="submit"><i  class="arrow right"></i></button>
                </form>
                
            </div>
        </div>
    
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <button type="button" class="btn btn-success" style="float:left;" data-toggle="modal" href="#addExpenseForm"
                    role="button" aria-expanded="false" aria-controls="about">
                    Add Expense
                    <fa-icon [icon]="faPlusSquare"></fa-icon>
                </button>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <button type="button" class="btn btn-primary" style="float:right;" data-toggle="modal" href="#addEnvelopeForm" role="button" aria-expanded="false" aria-controls="about">
                    Add Envelope
                    <fa-icon [icon]="faPlusSquare"></fa-icon>
                </button>
            </div>
        </div>
        <app-envelopes-progress [data]="data"></app-envelopes-progress>
        <app-envelopes-con-progress></app-envelopes-con-progress>
    </div>

    <app-footer></app-footer>
</main>