<p>{{component}}</p>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-left bg-dark">
    <!--- Logo --->
    <a class="navbar-brand" routerLink="../dashboard">
        <img alt="Logonavbar" src="assets/images/dragon.svg"  width="25vh" height="25vh"/>
        <b>SMAUG</b>budget
    </a>

    <!--- Logo --->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--- Navbar Links --->
    <div class="button collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="../dashboard" *ngIf="component=='dashboard'; else dashboardBlock">{{lang.DASHBOARD}}<span class="sr-only">(current)</span></a>
                <ng-template #dashboardBlock><a class="nav-link" routerLink="../dashboard">{{lang.DASHBOARD}}</a></ng-template>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="../envelopes" *ngIf="component=='envelopes'; else envelopesBlock">{{lang.ENVELOPES}}<span class="sr-only">(current)</span></a>
                <ng-template #envelopesBlock><a class="nav-link" routerLink="../envelopes">{{lang.ENVELOPES}}</a></ng-template>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="../goals" *ngIf="component=='goals'; else goalsBlock">{{lang.GOALS}}<span class="sr-only">(current)</span></a>
                <ng-template #goalsBlock><a class="nav-link" routerLink="../goals">{{lang.GOALS}}</a></ng-template>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="../bills" *ngIf="component=='bills'; else billsBlock">{{lang.BILLS}}<span class="sr-only">(current)</span></a>
                <ng-template #billsBlock><a class="nav-link" routerLink="../bills">{{lang.BILLS}}</a></ng-template>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="../history" *ngIf="component=='history'; else historyBlock">{{lang.HISTORY}}<span class="sr-only">(current)</span></a>
                <ng-template #historyBlock><a class="nav-link" routerLink="../history">{{lang.HISTORY}}</a></ng-template>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="../utilities" *ngIf="component=='utilities'; else utilitiesBlock">{{lang.UTILITIES}}<span class="sr-only">(current)</span></a>
                <ng-template #utilitiesBlock><a class="nav-link" routerLink="../utilities">{{lang.UTILITIES}}</a></ng-template>
            </li>
        </ul>

        <!--- Navbar Profile Dropdown Menu  --->
        <ul class="navbar-nav ml-auto">
            <fa-icon *ngIf="!hasConnection()" [icon]="faConnection" class="fa-3x" style="color:#f89406;"></fa-icon>

            <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 0px; padding-bottom: 0px">
                <img id="pfpNavBar" [src]="imageToShow" alt="Profile pic"></div>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" id="dropdown-user" aria-labelledby="navbarDropdownMenuLink-4">
                <a class="dropdown-item" routerLink="../account"><fa-icon [icon]="faCog"></fa-icon> {{lang.settings}}</a>
                <a class="dropdown-item" (click)="handleDarkMode()" id="appearanceDark" style="display: none;"><fa-icon [icon]="faAdjust"></fa-icon> {{lang.appearance}}: {{lang.dark}}</a>
                <a class="dropdown-item" (click)="handleDarkMode()" id="appearanceLight"><fa-icon [icon]="faAdjust"></fa-icon> {{lang.appearance}}: {{lang.light}}</a>
                <hr>
                <a class="dropdown-item" (click)="logout()"><fa-icon [icon]="faSignOutAlt"></fa-icon> {{lang.logout}}</a>
            </div>
            </li>
        </ul>
    </div>
</nav>