<main>
    <app-header [component]="'goals'"></app-header>
    
    <!---- Add Goal Form ---->
    <div class="modal fade" id="addGoalForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25 toastek">
            <div class="toast ml-auto tt4" role="alert" data-delay="3000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                    Input may only contain letters, numbers, some special characters (_@./#&+-: ) and whitespaces. Length allowed: 1-16
                    </div>
                </div>
                <div class="toast ml-auto tt3" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain decimal numbers separated by . with max 2 decimal places.
                    </div>
                </div>
                <div class="toast ml-auto tt7" id="mjav" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input a valid date (today or in the future).
                    </div>
                </div>
                <div class="toast ml-auto tt69" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Select a category.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
    
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form name="signup" method="post" action="/goals" onsubmit="return disableButton()">
            <input type="hidden" name="formType" value="addGoal">
            <div class="modal-body">
                <label for="inputGoal">What's your goal?</label>
                <input type="text" class="form-control" id="Goal" name="goal" placeholder="e.g. new car" required="required">
                <div id="txt1"></div>
                <label for="inputCategory">Choose a Category</label>
                <select id="inputCategory" name="inputCategory" onfocusout="categoryCheckAddGoal(this)" class="form-control" required="required">
                <option selected disabled>Select Category</option>
                <ng-template *ngFor="let item of data.categories;">
                    <option id="category{{item.id}}">{{item.category}}</option>
                </ng-template>
                </select>
    
                <br />
    
                <label for="inputAmount">How much do you want to save?</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{data.currency}}</span>
                </div>
                <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount5(this)" id="Amount" name="amount" placeholder="e.g. 1500" step="any" required="required">
                <div id="amm"></div>
                </div>
    
                <label for="inputDate">Planned Date</label>
                <input class="form-control" type="date" placeholder="2020-01-01" id="inputDateAddGoal" name="inputDateAddGoal" onfocusout="dateCheckAddGoal(this);" required="required">
    
    
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="disableButton()" class="btn btn-primary">Add Goal</button>
            </div>
            </form>
        </div>
        </div>
    </div>

    <!--- Add Money Form --->
    <div class="modal fade" id="addMoneyForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25 toastek">
                <div class="toast ml-auto tt2" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain decimal numbers separated by . with max 2 decimal places.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="addExpense" method="post" action="/goals" onsubmit="return disableButton4()">
                    <input type="hidden" name="formType" value="addToGoalWithCategory">
                    <div class="modal-body">
                        <div class="ena"><label for="inputGoal">Goal</label><br />
                            <select id="selectMoney" name="inputCategory" class="form-control">
                                <ng-template *ngFor="let item of data.goal;">
                                    <option *ngIf="hasTargetLeft(item.targetLeft)" id="category{{item._id}}">{{item.title}}</option>
                                </ng-template>
                            </select>
                        </div>
                        <div class="ena"><label for="inputAmount" id="">Amount</label><br />
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{data.currency}}</span>
                                </div>
                                <input type="number" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" onfocusout="amount2(this)" id="Amount2" name="inputAmount" placeholder="0.00" step="any">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="disableButton4()" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!----- Welcome section ----->
    <app-welcome [message]="data.message" [welcomeMessage]="data.welcomeMessage"></app-welcome>

    <div class="container" id="cards-section">
        <div class="row">
            <div *ngFor="let item of data.card" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 aos-init aos-animate" id="card{{item.id}}" data-aos="flip-down" data-aos-duration="500" style="margin: 0 auto">
                <card [id]="item.id" [color]="item.color" [icon]="item.icon" [count]="item.count" [title]="item.title" [comment]="item.comment"></card>
            </div>
        </div>
    </div>

    <!----- GOALS SECTION ----->

    <div class="container" id="goals-section">
        <div class="row" style="padding-bottom:3vh;">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <button type="button" class="btn btn-success" style="float:left;" data-toggle="modal" href="#addMoneyForm" role="button" aria-expanded="false" aria-controls="about">
                    Add Money 
                    <fa-icon [icon]="faPlusSquare"></fa-icon>
                </button>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <button type="button" class="btn btn-primary" style="float:right;" data-toggle="modal" href="#addGoalForm"
                role="button" aria-expanded="false" aria-controls="about">
                    Add Goal
                    <fa-icon [icon]="faPlusSquare"></fa-icon>
                </button>
            </div>
        </div>
        <app-goals-progress-bar [data]="data"></app-goals-progress-bar>
    </div>

    <app-footer></app-footer>
</main>