<main> 
    <div class="container" id="darkModeContainerFullWidth">
        <div class="row h-50">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-end">
                <div class="text1">
                    <p>Confirmation code was sent to your e-mail.</p>
                    <p>Please enter the code below.</p>
                </div>
            </div>
        </div>
        <div class="row h-50">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-start">
                <input type="text" class="form-control" id="Verification" name="Verification" placeholder="Enter verification code" required="required">	
                <br />
                <div class="spodnji">
                    <button class="btn btn-primary btn-lg gumbek" id="darkModeButton" type="submit" onclick="buildAction()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</main>