.button {

    font-size: 16px;
    font-family:'Open Sans';
 
    
    text-align: center;

}

.navbar-light{
   /* color: black; */
    text-decoration: none;
}

.navbar-light a{
    color: inherit;
}

.nav-item:hover {
    font-weight: bold;
}

.nav-item {
    padding: 1vh;

}

.navbar-brand {
    font-family:'Open Sans';
}

.navbar-brand img {
    margin-top:-3%;
    padding:0;
}

.active {
    font-weight: bold;
}
