<main>
    <app-header></app-header>
    <div class="container">   
        <div class="dbRow col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6 col-xl-6">
            <button [disabled]="!hasConnection()" class="btn btn-danger" (click)="deleteData()">Izbriši vse podatke</button>
        </div>
        
        <div class="info-db">
            <p></p>
        </div>
        <div class="dbRow col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6 col-xl-6">
            <button [disabled]="!hasConnection()" class="btn btn-success" (click)="loadData()">Naloži testne podatke</button>
        </div>
        <div class="info-db">
            <p>Login Email 1: bronze@smaug.com</p>
            <p>Login Password 1: Bronzepass1</p>
        </div>
        <div class="info-db">   
            <p>Login Email 1: silver@smaug.com</p>
            <p>Login Password 1: Silverpass1</p>
        </div>
        <div class="info-db">
            <p>Login Email 2: gold@smaug.com</p>
            <p>Login Password 1: Goldpass1 </p>
        </div>
    </div>
    <app-footer></app-footer>
</main>