<div class="footer">
    <div class="row">
        <!--- Spacing --->
        <div class="col-12 col-sm-12 col-md-12 col-lg-0 col-xl-3 footer-col">
        </div>

        <!--- First Row --->
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-1 footer-col">
            <a routerLink="../dashboard" href="/dashboard">Dashboard</a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-1 footer-col">
            <a routerLink="../envelopes" href="/envelopes">Envelopes</a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-1 footer-col">
            <a routerLink="../goals" href="/goals">Goals</a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-1 footer-col">
            <a routerLink="../bills" href="/bills">Bills</a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-1 footer-col">
            <a routerLink="../history" href="/history">History</a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-1 footer-col">
            <a routerLink="../utilities" href="/utilities">Utilities</a>
        </div>

        <!--- Spacing --->
        <div class="col-6 col-sm-0 col-md-6 col-lg-0 col-xl-3 footer-col"> </div>
        <div class="col-6 col-sm-0 col-md-6 col-lg-0 col-xl-5 footer-col"> </div>


        <!--- Second Row --->
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-1 footer-col bottom-row-footer">
            <a routerLink="../account" href="/account">Settings</a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-1 footer-col bottom-row-footer">
            <a routerLink="">Back to top</a>
        </div>
    </div>
</div>