<div class="modal-shiftfix"></div>
<a name="top"></a>
<header>
  <meta name="Index page" content="Index, login, registration, sign up, password reset">
  <div class="glava">
  <!----- Navigation Bar ----->
  <nav class="gostilna navbar fixed-top navbar-light navbar-expand-lg bg-light">
    
    <!----- Logo ----->
    <a class="navbar-brand" href="#">
      <img src="assets/images/dragon.svg" alt="Logo" width="25vh" height="25vh">
      <b>SMAUG</b>budget
    </a>

    <!----- Logo ----->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!----- Navbar Links ----->
    <div class="button collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#top">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feature">FEATURES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutUs">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" a href="#login" data-toggle="modal" data-target="#login">SIGN IN</a>
        </li>
      </ul>

      <!----- Navbar Profile Dropdown Menu  ----->
    </div>
  </nav>
  <!----- End Navigation Bar ----->
</div>
</header>
<!----- Sign in modal ----->
<div id="login" #login class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <img src="assets/images/dragon.svg" alt="Logo signin" >				
        <h4 class="modal-title">Member Login</h4>	
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input #loginEmail type="email" class="form-control" id="emailin" name="emailin" placeholder="E-mail" required>	
        </div>
        <div class="form-group">
          <input #loginPassword type="password" class="form-control" id="passwordin" placeholder="Password" required>
        </div>        
        <div class="form-button">
          <p *ngIf="hasLoginMessage" style="display: flex;justify-content: center;"><b>{{loginMessage}}</b></p>
          <input class="btn btn-primary singbut btn-lg btn-block login-btn" (click)="loginUser(loginEmail.value, loginPassword.value)" type="button" value="Login"/>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#forgottenPasswordForm" class="a1" data-toggle="modal" data-target="#forgottenPasswordForm" data-dismiss="modal">Forgot Password?</a>
        <a href="#registration" class="a2" data-toggle="modal" data-target="#registration" data-dismiss="modal">Not a member?</a>
      </div>
    </div>
  </div>
</div>
<!----- End sign in modal ----->

<!----- Sign up modal ----->
<div id="registration" #registration class="modal fade">
  <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
      <div class="w-25">
        <app-toast [name]="'tt1'" [hintBody]="'Name cannot be empty and may only contain letters A-Z.'" [hintHeader]="'HINT'"></app-toast>
        <app-toast [name]="'tt2'" [hintBody]="'Surname cannot be empty and may only contain letters A-Z.'" [hintHeader]="'HINT'"></app-toast>
        <app-toast [name]="'tt5'" [hintBody]="'E-mails do not match or are empty!'" [hintHeader]="'HINT'"></app-toast>
        <app-toast [name]="'tt4'" [hintBody]="'Strong passwords are at least 8 characters long, include at least 1 lowercase letter, 1 capital letter, 1 number and 1 special character => !@#$%^&/'" [hintHeader]="'HINT'"></app-toast>
        <app-toast [name]="'tt3'" [hintBody]="'Password do not match!'" [hintHeader]="'HINT'"></app-toast>     
      </div>
  </div>
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <img src="assets/images/dragon.svg" alt="Login signup">				
        <h4 class="modal-title">New Member</h4>	
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input #firstname type="text" class="form-control" id="nameup" name="nameup" placeholder="Name" (focusout)="firstNameIndex()">	
          </div>
          <div class="form-group">
            <input #lastname type="text" class="form-control" id="surnameup" name="surnameup" placeholder="Surname" (focusout)="lastNameIndex()" required="required">	
          </div>
          <div class="form-group">
            <input #email1 type="email" class="form-control" id="email1up" name="email1up" placeholder="E-mail" (focusout)="emailIndex()" required="required">		
          </div>
          <div class="form-group">
            <input #email2 type="email" class="form-control" id="email2up" name="email2up" placeholder="Confirm E-mail" (focusout)="emailIndex()" required="required">		
          </div>
          <div class="form-group">
            <input #password1 type="password" class="form-control" id="password1up" placeholder="Password"  (keypress)="passwordStrengthIndex()" required="required">	
          </div>    
          <div class="form-group">
            <input #password2 type="password" class="form-control" id="password2up" placeholder="Confirm Password" (focusout)="passwordIndex()" required="required">
          </div>
          <div class="form-button">
            <p *ngIf="hasRegistrationMessage" style="display: flex;justify-content: center;"><b>{{registrationMessage}}</b></p>
            <input href="dashboard" id="buttonid" class="btn btn-primary singbut btn-lg btn-block login-btn" type="button" (click)="buttonSignupIndex(firstname.value, lastname.value, email1.value, email2.value, password1.value, password2.value); " value="Create Account" />
          </div>
      </div>
      <div class="modal-footer" style="padding: 10px;">
        <a href="login" style="font-family: 'Open Sans'; color: #999;" data-toggle="modal" data-target="#login" data-dismiss="modal">Already a member?</a>
      </div>
    </div>
  </div>
</div>   
<!----- End sign up modal ----->

<!----- Password reset modal ----->
<div id="forgottenPasswordForm" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <img src="assets/images/dragon.svg" alt="Logo reset">				
        <h4 class="modal-title">Password Reset</h4>	
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="formType" name="formType" value="forgotPassword">
        <div class="form-group">
          <input #forgotEmail type="email" class="form-control" id="username" name="email" placeholder="Insert your E-mail" required="required">		
        </div>
        <div class="form-pop">
          <p *ngIf="hasResetMessage" style="display: flex;justify-content: center;"><b>{{resetMessage}}</b></p>
          <button tabindex="0" class="btn btn-primary singbut btn-lg btn-block login-btn" (click)="forgotPassword(forgotEmail.value)">Reset Password</button>
        </div>
      </div>
      <div class="modal-footer" style="padding: 10px;">
        <a href="#login" style="font-family: 'Open Sans'; color: #999;" data-toggle="modal" data-target="#login" data-dismiss="modal">Back?</a>
      </div>
    </div>
  </div>
</div>  
<!----- End password reset modal ----->

<!----- Jumbotron ----->
<div class="jumbotron align-items-center">
  <div class="row h-100" >
    <div class="left d-none d-md-block d-lg-block d-xl-block left col-md-6 col-lg-5 col-xl-5 my-auto">
      <img class="img-responsive slika max-height:300px" src="assets/images/phone1.png" id="phone" alt="Phone">
    </div>
    <div class="right col-md-6 col-lg-7 col-xl-7 my-auto" id="welcome-text">
      <h1 class="display-7">Saving money made simple,<br> for you.</h1>
      <p class="lead">Join now and experience your finances in a completely new way.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg gumbek" href="#registration" role="button" data-toggle="modal" data-target="#registration">Sign up</a>
      </p>
    </div>
  </div>
  <div id="feature"></div>
</div>

   <!----- Features ----->
<div class="row feature">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title ">
        <h1>FEATURES</h1>
      </div>
    </div>
    <div class="row kartice3">
      <div class="col-xl-2 col-lg-0 col-md-0 col-sm-0 col-0"></div>
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row kartice">
          <div class="col-xl-4 col-lg-4 col-md-4 x col-sm-12 col-12">
            <div class="card" data-aos="flip-down" data-aos-duration="500">
              <img src="assets/images/card1.png" class="card-img-top" alt="card1">
              <div class="card-body">
                <h5 class="card-title">Envelopes</h5>
                <p class="card-text">Envelope system organizes your finances in simple manner. Add, edit or delete your envelopes however you like.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card" data-aos="flip-down"data-aos-duration="800">
              <img src="assets/images/card2.png" class="card-img-top" alt="card2">
              <div class="card-body">
                <h5 class="card-title">Bills</h5>
                <p class="card-text">Worry about the fun categories. Add bills once and for all. SMAUGBudget takes care of placing bills in your budget.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card" data-aos="flip-down" data-aos-duration="500">
              <img src="assets/images/card3.png" class="card-img-top" alt="card3">
              <div class="card-body">
                <h5 class="card-title">History</h5>
                <p class="card-text">Simple yet effective. Complete overview over your spending using graphs and diagrams. Customize it as you</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-0 col-md-0 col-sm-0 col-0"></div>
    </div>
  </div>
</div>

<div id="aboutUs"></div>
<div class="container about"  data-aos="fade-up" data-aos-duration="1000" >
  <div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title " >
    <h1 id="about123">ABOUT US</h1>
  </div>
  </div>
  <div class="row naprej">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin tempor id eu nisl. Laoreet sit amet cursus sit. 
      Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Adipiscing bibendum est ultricies integer. Neque laoreet suspendisse interdum consectetur libero id faucibus. 
      Id diam maecenas ultricies mi eget mauris pharetra et.
    </div>
  </div>
</div>

  <!----- Before footer ----->
  <div class="row pred-footer" style="padding:1vh;">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-auto links">
      <img class="img-responsive " style="max-width:100px" src="assets/images/dragon.svg" alt="Logo footer">
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-auto rechts">
        <h2>Stop waiting.<br>Start saving.</h2>
    </div>
  </div>

  <div class="footer bg-light ">
    <div class="row" style="padding-right: 0px !important; padding-left: 0px !important;">
      <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 footer-col">
        <a href="#registration" class="gumb" data-toggle="modal" data-target="#registration">Sign up</a>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 footer-col">
        <a  href="#login" data-toggle="modal" data-target="#login">Sign in</a>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 footer-col">
        <a href="#top" >Back to Top</a>
      </div>
    </div>
  </div>
