<b *ngIf="hasRowMessage">{{rowMessage}}</b>
<div class="row">
    <!---Row 1 Col 1 --->
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2 goal-col">
        <p class="goal-p">{{item.title}}</p>
        <div class="w-100"></div>
        <p class="p-date"></p>
    </div>
    <!---Row 1 Col 2 --->
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 goal-col">
        <!--  Progress Bar --->
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{item.progress}}%; height:auto; background-color:{{item.color}}; border-color:{{item.color}};" [attr.aria-valuenow]="item.progress" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top">
                {{item.progress}}%
            </div>
        </div>
    </div>
    <!---  Row 1 Col 3 --->
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 goal-col">
        <p class="goal-p">{{item.targetLeft}}<span> {{currency}}</span></p>
        <p style="color: gray; font-family:'Open Sans'; margin-left:2%">
            of {{item.target}} {{currency}} (
            <b>{{item.monthlyTarget}} {{currency}}</b>/day)
        </p>
        <button type="submit" (click)="buttonDeleteGoal()" class="btn edit-btn" data-toggle="modal"><fa-icon [icon]="faMinusSquare"></fa-icon></button>
        <button type="button" class="btn edit-btn" data-toggle="modal" [attr.data-target]="'#editForm' + item._id"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
    </div>
</div>
<!--edit modal-->
<div class="modal fade goalModal" #editGoalModal id="editForm{{item._id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <div class="toast ml-auto toastEditName{{item._id}}" role="alert" data-delay="3000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain letters, numbers, some special characters (_@./#&+-: ) and whitespaces. Length allowed: 1-20
                </div>
            </div>
            <div class="toast ml-auto toastEditAmount{{item._id}}" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input may only contain decimal numbers separated by . with max 2 decimal places.
                </div>
            </div>
            <div class="toast ml-auto toastEditDate{{item._id}}" id="date-hint" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Input a valid date (today or in the future).
                </div>
            </div>
            <div class="toast ml-auto tt420" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">HINT</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    Select a category.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="editGoal">
                <div class="modal-body">
                    <input type="hidden" name="formType" value="editGoal">
                    <input type="hidden" name="id" value="{{item._id}}">
                    <div class="modal-body">
                        <label for="inputGoal">What's your goal?</label>
                        <input #editNameGoal type="text" class="form-control" id=".toastEditName{{item._id}}" name="goal" value="{{item.title}}" required="required" (focusout)="nameEditGoal()">
                        <label for="inputCategory">Choose a Category</label>
                        <select #editCategoryGoal id="inputCategory" name="inputCategory" class="form-control" required="required">
                            <option selected disabled>{{item.categoryName}}</option>
                            <option *ngFor="let cat of category" id="category{{cat._id}}">{{cat.name}}</option>
                        </select>
                        <br>
                        <label for="inputAmount">How much do you want to save?</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend" style="max-height: 38px;">
                                <span class="input-group-text">{{currency}}</span>
                            </div>
                            <input #editAmountGoal type="number" class="form-control" id=".toastEditAmount{{item._id}}" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" name="Amount3" value="{{item.target}}" step="any" required="required" (focusout)="amountEditGoal()">
                        </div>
                        <label for="inputDate">Planned Date</label>
                        <input #editDateGoal class="form-control" type="date" value="{{item.year}}-{{item.month}}-{{item.day}}" id=".toastEditDate{{item._id}}" name="inputDate" required="required" (focusout)="dateCheckEdit()">
                    </div>
                </div>
                <div class="modal-footer">
                    <p *ngIf="hasEditMessage"><b>{{editMessage}}</b></p>
                    <button (click)="buttonEditGoal(editNameGoal.value, editCategoryGoal.value, editAmountGoal.value, editDateGoal.value)" id="buttonEditGoal{{item._id}}" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
