body {
    background: #ededed;
}

.container {
    background: white;
}

.container {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    padding: 0;
}

.row {
    margin: 0;
}

@media only screen and (min-width: 900px) {
    #welcome-alert-section {
        margin-top: 15vh;
    }
}

@media only screen and (max-width: 991px) {
    #welcome-alert-section {
        margin-top: 10vh;
    }
}

#welcome-alert-section {
    padding: 4vh;
}

#cards-section {
    padding: 4vh;
    margin-top: 2vh;
}

#goals-section {
    padding: 4vh;
    margin-top: 2vh;
}

#welcome-alert-section .row {
    padding: 1.5vh;
}

#cards-section .row {
    padding: 1.5vh;
}

#main-section .row {
    padding: 1.5vh;
}

.goal-col p {
    display: inline-block;
    text-align: center;
}

.goal-p {
    font-family: 'Open Sans Bold';
    position: relative;
    padding: 0;
    margin: 0 auto;
    float: none;
    display: block;
}

.goal-col a {
    font-family: 'Open Sans Bold';
}

.modal-body input {
    margin-bottom: 5%;
}

.edit-btn {
    float: right;
}

.p-date {
    font-family: 'Open Sans Bold';
    font-size: small;
    color: gray;
}

.green-panel {
    background: #00c851;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}


/*
* CARDS
*/

#card2:hover #replies2 {
    display: none;
}

#comments2 {
    opacity: 0;
}

#card2:hover #comments2 {
    opacity: 1;
}

#card2-after {
    text-align: center;
    font-size: 2.5vh;
}