<div class="container">   
    <div class="dbRow col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6 col-xl-6">
        <button class="btn btn-danger" (click)="deleteData()">Izbriši vse podatke</button>   
    </div>
    
    <div class="info-db">
        <p></p>
    </div>
    <div class="dbRow col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6 col-xl-6">
        <button class="btn btn-success" (click)="loadData()">Naloži testne podatke</button>
    </div>
    <div class="info-db">
        <p>Login Email 1: basic@smaug.com</p>
    </div>
    <div class="info-db">
        <p>Login Password 1: Basicpass1</p>
    </div>
    <div class="info-db">
        <p>Login Email 2: premium@smaug.com</p>
    </div>
    <div class="info-db">
        <p>Login Password 1: Premiumpass1 </p>
    </div>
</div>