<main>
    <app-header [component]="'bills'"></app-header>

    <app-welcome [message]="message" [welcomeMessage]="welcomeMessage"></app-welcome>

    <div class="container" id="cards-section">
        <div class="row">
            <div *ngFor="let card of cards" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 aos-init aos-animate" id="card{{card.id}}" data-aos="flip-down" data-aos-duration="500" style="margin: 0 auto">
                <card [card]="card"></card>
            </div>
        </div>
    </div>

    <div class="container" id="cards-section">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>All bills</h3>

            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <!-- Search form -->
                <input class="form-control search" id="search" type="text" placeholder="Search" aria-label="Search">
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive">
                    <table class="table" id="table">
                        <thead class="headertop">
                        </thead>
                        <tbody>
                            <tr app-bill-table *ngFor="let item of bills;" [data]="item" [Currency]='currency' [Categories]='categories'></tr>
                        </tbody>
                    </table>
                </div>
                <button data-toggle="modal" href="#modalForm" role="button" aria-expanded="false" aria-controls="about" class="btn btn-primary addbill">Add bill
                    <fa-icon [icon]="faPlusSquare"></fa-icon>
                </button><br/>
            </div>
        </div>
    </div>


    <div class="modal fade " id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
            <div class="w-25 toastek">
                <div class="toast ml-auto tt1" role="alert" data-delay="3000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain letters, numbers, some special characters (_@./#&+-: ) and whitespaces. Length allowed: 1-20
                    </div>
                </div>
                <div class="toast ml-auto tt2" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="toast-body">
                        Input may only contain decimal numbers separated by . with max 2 decimal places.
                    </div>
                </div>
                <div class="toast ml-auto tt5" id="date-hintAdd" role="alert" data-delay="1000" data-autohide="false">
                    <div class="toast-header">
                        <strong class="mr-auto text-primary">HINT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="toast-body">
                        Input a valid date (today or in the future).
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form name="addBill">
                    <input type="hidden" name="formType" value="addBill">
                    <div class="modal-body">
                        <div class="ena"><label for="inputGoal">Category</label><br/>
                        <select #addBillCategory id="inputCategory" name="inputCategory" class="form-control" required>
                            <option value="" selected disabled>Select Category</option>
                            <option *ngFor="let item of categories" id="{{item._id}}" value="{{item._id}}" name="category">{{item.name}}</option>
                        </select>
                        </div>
                        <div class="checker">
                            <label for="Payee">Payee</label><br/>
                            <input #addBillPayee type="text" #nameAdd id="Payee" name="Payee" class="form-control" (focusout)="nameAddBills()" placeholder="e.g. Elektro Ljubljana d.d." required>
                        </div>
                        <div id="alerts"></div>
                        <div class="ena">
                            <label for="Amount">Amount</label><br/>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{currency}}</span>
                                </div>
                                <input #addBillAmount type="number" #amountAdd onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" class="form-control" (focusout)="amountAddBills()" id="Amount" name="Amount" placeholder="e.g. 15" step="any" required="required">
                            </div>
                            <div id="amm"></div>
                        </div>
                        <div class="ena">
                            <label for="date">Date due</label><br/>
                            <input #addBillDate class="form-control" #dateAdd type="date" placeholder="2020-01-01" id="inputDateAddBill" name="inputDateAddBill" (focusout)="dateAddBills()" required="required">
                        </div>
                        <div class="ena">
                            <label for="once">How often?</label><br/>
                            <input #billRepeat1 type="radio" id="once" name="rad" value="once" required>
                            <label for="once">Once</label><br/>
                            <input #billRepeat2 type="radio" id="monthly" name="rad" value="monthly">
                            <label for="monthly">Monthly</label><br/>
                            <input #billRepeat3 type="radio" id="yearly" name="rad" value="yearly">
                            <label for="yearly">Yearly</label><br/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p *ngIf="hasAddMessage"><b>{{addMessage}}</b></p>
                        <button (click)="buttonAddBills(addBillCategory.value, addBillPayee.value, addBillAmount.value, addBillDate.value, (billRepeat1.checked ? billRepeat1.value : billRepeat2.checked ? billRepeat2.value : 'yearly'))" class="btn btn-primary" id="buttonAddBill">Add Bill</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <app-footer></app-footer>
</main>