main {
    background:#ededed;
}



@media only screen and (min-width: 900px){
    .footer {
        padding-top: 12vh;
    }
}



.search {
    float:right;
}
.addbill{
    float: right;
}
.headleft{
    text-align: left;
}

.totaltext{
    text-align: center;
}

.ena{
    padding-bottom: 20px;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

tr.border_bottom td {
    border-bottom: 1px solid #dee2e6;
}

.container {
    background: white;
}

.container {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);
    box-shadow: 0px 1px 15px 1px rgba(209,209,209,1);  
    padding: 0;
}

#cards-section {
    padding: 4vh;
    margin-top: 2vh;
}

#cards-section .row {
    padding: 1.5vh;
}

.container #cards-section {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media only screen and (min-width: 900px) {
    #welcome-alert-section {
        margin-top:15vh;
    }

}

@media only screen and (max-width: 991px) {
    #welcome-alert-section {
        margin-top:10vh;
    }
}

@media only screen and (max-height: 768px) and (min-width:560px){
    #welcome-alert-section{
        margin-top: 20vh;
    }
}

#welcome-alert-section {
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#welcome-alert-section .row {
    padding: 1.5vh;
}

#daterangepicker {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    text-decoration: none;
}

#daterangepicker:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s; 
}

#pfpNavBar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}