<!DOCTYPE html>
<html>
    <head>
        <title>SmaugBudget - Confirmation email</title>
    </head>
    <body>
        <h1>Confirmation email</h1>
        <p>Dear {{FIRSTNAME}} {{LASTNAME}}</p>
        <p>
            Welcome to SmaugBudget budget tracker! In this mail you will find your confirmation code. You need this code to confirm that the email you have given us is valid.
        </p>
        <p>
            To confirm your email you can either click on the following link: <a href="{{LINK}}">SmaugBudget confirmation</a>
        </p>
        <p>
            Or use this confirmation code on our website: {{CODE}}
        </p>
    </body>
</html>