      <div class="modal-shiftfix"></div>
      <a name="top"></a>
      <header>
        <div class="glava">
        <!----- Navigation Bar ----->
        <nav class="gostilna navbar fixed-top navbar-light navbar-expand-lg bg-light">
          
          <!----- Logo ----->
          <a class="navbar-brand" href="#">
            <img src="../images/dragon.svg" width="25vh" height="25vh">
            <b>SMAUG</b>budget
          </a>

          <!----- Logo ----->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!----- Navbar Links ----->
          <div class="button collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#top">HOME<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#feat123">FEATURES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutUs">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#signInForm">SIGN IN</a>
              </li>
            </ul>

            <!----- Navbar Profile Dropdown Menu  ----->
          </div>
        </nav>
        <!----- End Navigation Bar ----->
      </div>
      </header>
      <!----- Sign in modal ----->
      <div id="signInForm" class="modal fade">
        <div class="modal-dialog modal-login">
          <div class="modal-content">
            <div class="modal-header">
              <img src="../images/dragon.svg">				
              <h4 class="modal-title">Member Login</h4>	
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <form name="sign-in" action="#login" method="post">
                <div class="form-group">
                  <input type="email" class="form-control" id="emailin" placeholder="E-mail" required>	
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="passwordin" placeholder="Password" required>	
                </div>        
                <div class="form-button">
                  <button href="dashboard" class="btn btn-primary singbut btn-lg btn-block login-btn" button type="submit">Login</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <a href="#" class="a1" data-toggle="modal" data-target="#forgottenPasswordForm" data-dismiss="modal">Forgot Password?</a>
              <a href="#" class="a2" data-toggle="modal" data-target="#signUpForm" data-dismiss="modal">Not a member?</a>
            </div>
          </div>
        </div>
      </div>
      <!----- End sign in modal ----->

      <!----- Sign up modal ----->
      <div id="signUpForm" class="modal fade">
        <div class="modal-dialog modal-login">
          <div class="modal-content">
            <div class="modal-header">
              <img src="../images/dragon.svg">				
              <h4 class="modal-title">New Member</h4>	
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <form name="signup" method="post" action="/" onsubmit="return disableButton()">
                <div class="form-group">
                  <input type="text" class="form-control" id="nameup" name="nameup" placeholder="Name" onfocusout="nameRegex()" required="required">	
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="surnameup" name="surnameup" placeholder="Surname" onfocusout="surnameRegex()" required="required">	
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="email1up" name="email1up" placeholder="E-mail" onfocusout="emailCheckSignUp()" required="required">		
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="email2up" name="email2up" placeholder="Confirm E-mail" onfocusout="emailCheckSignUp()" required="required">		
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="password1up" name="password1up" placeholder="Password" onfocusout="passwordStrength()" required="required">	
                </div>    
                <div class="form-group">
                  <input type="password" class="form-control" id="password2up" name="password2up" placeholder="Confirm Password" onfocusout="passwordCheckSignUp()" required="required">	
                </div>
                <div id="alerts"></div>
                <div id="alerts2"></div>
                <div id="alerts3"></div>
                <div id="alerts4"></div>
                <div id="alerts5"></div>
                
                <div class="form-button">
                  <input href="dashboard" id="buttonid" class="btn btn-primary singbut btn-lg btn-block login-btn" type="submit" value="Create Account" onclick="disableButton()" />
                </div>
              </form>
            </div>
            <div class="modal-footer" style="padding: 10px;">
              <a href="" style="font-family: 'Open Sans'; color: #999;" data-toggle="modal" data-target="#signInForm" data-dismiss="modal">Already a member?</a>
            </div>
          </div>
        </div>
      </div>   
      <!----- End sign up modal ----->

      <!----- Password reset modal ----->
      <div id="forgottenPasswordForm" class="modal fade">
        <div class="modal-dialog modal-login">
          <div class="modal-content">
            <div class="modal-header">
              <img src="../images/dragon.svg">				
              <h4 class="modal-title">Password Reset</h4>	
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <form action="#password" method="post">
                <div class="form-group">
                  <input type="email" class="form-control" id="username" placeholder="Insert your E-mail" required="required">		
                </div>
                <div class="form-pop">
                  <a tabindex="0" class="btn btn-primary singbut btn-lg btn-block login-btn" role="button" data-toggle="popover" data-trigger="focus" data-content="We have sent a recovery e-mail to your address.">Reset Password</a>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="padding: 10px;">
              <a href="" style="font-family: 'Open Sans'; color: #999;" data-toggle="modal" data-target="#signInForm" data-dismiss="modal">Back?</a>
            </div>
          </div>
        </div>
      </div>  
      <!----- End password reset modal ----->

      <!----- Jumbotron ----->
      <div class="jumbotron align-items-center">
        <div class="row h-100" >
          <div class="left d-none d-md-block d-lg-block d-xl-block left col-md-6 col-lg-5 col-xl-5 my-auto">
            <img class="img-responsive slika max-height:300px" src="../images/phone1.png" id="phone">
          </div>
          <div class="right col-md-6 col-lg-7 col-xl-7 my-auto" id="welcome-text">
            <h1 class="display-7">Saving money made simple,<br> for you.</h1>
            <p class="lead">Join now and experience your finances in a completely new way.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg gumbek" href="#" role="button" data-toggle="modal" data-target="#signUpForm">Sign up</a>
            </p>
          </div>
        </div>
        <div id="feat123"></div>
      </div>

         <!----- Features ----->
      <div class="row feat123">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title ">
              <h1>FEATURES</h1>
            </div>
          </div>
          <div class="row kartice3">
            <div class="col-xl-2 col-lg-0 col-md-0 col-sm-0 col-0"></div>
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="row kartice">
                <div class="col-xl-4 col-lg-4 col-md-4 x col-sm-12 col-12">
                  <div class="card" data-aos="flip-down" data-aos-duration="500">
                    <img src="../images/card1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Envelopes</h5>
                      <p class="card-text">Envelope system organizes your finances in simple manner. Add, edit or delete your envelopes however you like.</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="card" data-aos="flip-down"data-aos-duration="800">
                    <img src="../images/card2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Bills</h5>
                      <p class="card-text">Worry about the fun categories. Add bills once and for all. SMAUGBudget takes care of placing bills in your budget.</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="card" data-aos="flip-down" data-aos-duration="500">
                    <img src="../images/card3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">History</h5>
                      <p class="card-text">Simple yet effective. Complete overview over your spending using graphs and diagrams. Customize it as you</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-0 col-md-0 col-sm-0 col-0"></div>
          </div>
        </div>
      </div>

      <div id="aboutUs"></div>
      <div class="container about"  data-aos="fade-up" data-aos-duration="1000" >
        <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title " >
          <h1 id="about123">ABOUT US</h1>
        </div>
        </div>
        <div class="row naprej">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin tempor id eu nisl. Laoreet sit amet cursus sit. 
            Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Adipiscing bibendum est ultricies integer. Neque laoreet suspendisse interdum consectetur libero id faucibus. 
            Id diam maecenas ultricies mi eget mauris pharetra et.</p>
          </div>
        </div>
      </div>

        <!----- Before footer ----->
        <div class="row pred-footer" style="padding:1vh;">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-auto links">
            <img class="img-responsive " style="max-width:100px" src="../images/dragon.svg">
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-auto rechts">
              <h2>Stop waiting.<br>Start saving.</h2>
          </div>
        </div>
      