<body> 
    <div class="container" id="darkModeContainerFullWidth">
        <div class="row h-50">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-end">
                <div class="text1">
                    <p>Reset your password</p>
                    <p>Please enter your new password below.</p>
                </div>
            </div>
        </div>
        <div class="row h-50">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-start">
                <p class="lead">
                    <form name="passwordReset" id="passwordReset" method="POST" action="/passwordReset/{{code}}">
                        <input type="hidden" id="hashPassword" name="hashPassword" />
                        <input type="hidden" id="hashPasswordConfirm" name="hashPasswordConfirm" />
                        <input type="password" class="form-control" id="password"  placeholder="Enter your new password" required="required">	
                        <input type="password" class="form-control" id="passwordConfirm"  placeholder="Repeat your new password" required="required">	
                        <div class="spodnji">
                        <button class="btn btn-primary btn-lg gumbek" id="darkModeButton" type="submit" onclick="passwordSubmit();buildAction()">Submit</a>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</body>