<!DOCTYPE html>
<html>
    <head>
        <title>SmaugBudget - Reset password</title>
    </head>
    <body>
        <h1>Reset password</h1>
        <p>Dear Mr/Mrs {{FIRSTNAME}} {{LASTNAME}}</p>
        <p>
            We have received your request to reset your password. 
            If you did not send this request, please ensure that your email is secure. 
            If you have requested password reset, then follow the following steps:
        </p>
        <p>
            1. To start password reset, click on the following link: <a href="{{LINK}}">Password reset</a>
        </p>
        <p>
            2. Enter your new password in the given form.
        </p>
        <p>
            3. Then login with your new password.
        </p>
    </body>
</html>