    <div class="container" id="welcome-alert-section">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" class="close not" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2>Welcome to goals.</h2>
                <h5>Here you can add saving goals you want to achieve. Click Add Goal, fill in the form, submit and you're done! </h5>
            </div>
        </div>
    </div>