<main>
    <app-header [component]="'account'"></app-header>
    <!-- Account body -->
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end Zind">
        <div class="w-25 toast-front">
            <div class="toast ml-auto tt1" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">{{data.HINT}}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{data.nameHint}} 
                </div>
            </div>
            <div class="toast ml-auto tt2" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">{{data.HINT}}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{data.surnameHint}}
                </div>
            </div>        
        </div>
    </div>
    <div class="container" id="accountBody-container">  
    
    <div id="accountBody"  class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>{{data.title}}</h2>
        <form name="userInfo">
        <div class="row">
            <div class="del-margin col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="row">
                <input type="hidden" name="formType" value="changeName">
                <label id="nameInputLbl" for="nameInput" class="col-sm-3 col-md-3 col-lg-2 col-xl-2">{{data.firstName}}:</label>
                <input type="text" id="nameInput" name="firstName" placeholder="{{data.firstName}}" value="{{firstName}}" class="form-control col-sm-3 col-md-3 col-lg-3 col-xl-3" (focusout)="nameRegex()" required="required">
            
                <label id="lastnameInputLbl" for="lastnameInput" class="col-sm-3 col-md-3 col-lg-4 col-xl-4">{{data.lastName}}:</label>
                <input type="text" id="lastnameInput" name="lastName" placeholder="{{data.lastName}}" value="{{lastName}}" class="form-control col-sm-3 col-md-3 col-lg-3 col-xl-3" (focusout)="surnameRegex()" required="required">
            </div>
            <div class="row">
                <label id="passwordChangeLbl" for="passwordChange" class="col-sm-3 col-md-3 col-lg-2 col-xl-2">{{data.password}}:</label>
                <button id ="passwordChange" type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassowrd">{{data.changePassword}}</button>
            </div>
            <div class="row">
                <label id="emailInputLbl" for="emailInput" class="col-sm-3 col-md-3 col-lg-2 col-xl-2">{{data.email}}:</label>
                <input type="email" id="emailInput" name="email" value="{{email}}"  class="form-control col-sm-9 col-md-9 col-lg-10 col-xl-10" disabled>
            </div>
            </div>
            <div id="pfpImg" class="del-margin col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <a data-toggle="modal" data-target="#changePfp" aria-label="Change Profile Picture">
                <div id="profile-pic" class="profile-pic" style="background-image: url('/api/getPfp')" >
                    <fa-icon [icon]="faCamera"></fa-icon>
                <span>{{data.changeImage}}</span>
                </div>
            </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button type="submit" id="userInfoButton" (click)="disableButton()" class="btn btn-primary" style="float: right;">{{data.saveChanges}}</button>
            </div>
        </div>
        </form>
    </div>
    </div>

    <div class="container" id="appSettings-container">  
    <div id="appSettings"  class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>{{data.application}}</h2>
        <div class="row">
            <label id="darkmodeEnableLbl" for="darkmodeEnable" class="col-5 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="padding-right: 0px;">{{data.darkMode}}:</label>
            <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkmodeEnable">
            <label class="custom-control-label" for="darkmodeEnable"></label>
            </div>
        </div>
        <div class="row">
            <label id="languageChangeLbl" for="languageChange" class="col-5 col-sm-4 col-md-4 col-lg-4 col-xl-4">{{data.language}}:</label>
            <div class="dropdown col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <button class="btn btn-secondary dropdown-toggle col-sm-12 col-md-12 col-lg-12 col-xl-12" type="button" id="languageChange" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{defaultLanguage}}
            </button>
            <div class="dropdown-menu" aria-labelledby="languageChange">
                <a class="dropdown-item" (click)="changeLanguage('English')">English</a>
                <a class="dropdown-item" (click)="changeLanguage('Slovenski')">Slovenski</a>
            </div>
            </div>
        </div>
        <div class="row">
        <label id="currencyChangeLbl" for="currencyChange" class="col-5 col-sm-4 col-md-4 col-lg-4 col-xl-4">{{data.currency}}:</label>
        <div class="dropdown col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <button class="btn btn-secondary dropdown-toggle col-sm-12 col-md-12 col-lg-12 col-xl-12" type="button" id="currencyChange" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{defaultCurrency}}
            </button>
            <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="currencyChange">
            
            <a *ngFor="let item of data.data_currency" class="dropdown-item" (click)="this.changeCurrency(item.key)">{{item.name}} ({{item.key}})</a>
            
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="container" id="categoriesColor-container">
    <div id="categories-setting"  class="col-sm-12 col-md-12 col-lg-12 col-xl-12" >
        <h2>{{data.categories}}</h2>
        <div *ngFor="let item of categories">
            <form  name="editColor{{item._id}}" method="post" action="/account">
                <div class="category-row col-5 col-sm-6 col-md-5 col-lg-4 col-xl-4">
                <label for="color-picker{{item._id}}" style=" text-align:left;">{{item.name}}</label>
                </div>
                <div class="category-row col-3 col-sm-5 col-md-5 col-lg-3 col-xl-3" style="text-align: center;">
                    <input type="color" class="color-picker" name="colorPicker{{item._id}}" value="{{item.color}}">
                </div>
                <div class="category-row col-3 col-sm-12 col-md-1 col-lg-4 col-xl-4" style="text-align: right;">
                <button type="submit" class="btn btn-primary"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
                <button type="submit" [attr.form]="'deleteColor' + item.id" class="btn btn-danger"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                <input type="hidden" name="id" value="{{item._id}}" />
                <input type="hidden" name="formType" value="changeColorCategory" />
                </div>
            </form>
            <form id="deleteColor{{item._id}}" name="deleteColor{{item._id}}" method="post" action="/account" onsubmit="return confirm('Deleting category will remove all related envelopes and goals!');">
                <input type="hidden" name="formType" value="deleteCategory">
                <input type="hidden" name="id" value="{{item._id}}">
            </form>
        </div>
        
    </div>
    </div>
    <!-- End AccountBody -->

    <!-- changePassowrd -->
    <div class="modal fade" id="changePassowrd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toast-front">
            <div class="toast ml-auto tt3" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">{{data.HINT}}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{data.passwordHint}}
                </div>
            </div>
            <div class="toast ml-auto tt4" role="alert" data-delay="1000" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">{{data.HINT}}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{data.passwordNoMatch}}
                </div>
            </div>        
        </div>
    </div>
    <div class="modal-dialog" role="document">
        <form method="POST" action="/account">
        <input type="hidden" name="formType" value="changePassword" />
        <input type="hidden" name="oldPassword" id="oldPasswordHash" value=""/>
        <input type="hidden" name="newPassword1" id="newPasswordHash1" value=""/>
        <input type="hidden" name="newPassword2" id="newPasswordHash2" value=""/>
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">{{data.changePassword}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <div class="row">
                <label id="oldPasswordLbl" for="oldPassword" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">{{data.oldPassword}}:</label>
                <input type="password" id="oldPassword" placeholder="{{data.oldPassword}}"  class="form-control col-sm-7 col-md-7 col-lg-7 col-xl-7">
            </div>
            <div class="row">
                <label id="newPasswordLbl" for="newPassword" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">{{data.newPassword}}:</label>
                <input type="password" id="newPassword" onfocusout="passwordStrength(this)" placeholder="{{data.newPassword}}"  class="form-control col-sm-7 col-md-7 col-lg-7 col-xl-7">
            </div>
            <div class="row">
                <label id="confirmPasswordLbl" for="confirmPassword" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">{{data.confirmPassword}}:</label>
                <input type="password" id="confirmPassword" onfocusout="passwordCheckSignUp()" placeholder="{{data.confirmPassword}}"  class="form-control col-sm-7 col-md-7 col-lg-7 col-xl-7">
            </div>
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" onclick="passwordSubmit();">{{data.saveChanges}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{data.close}}</button>
            </div>
        </div>
        </form>
    </div>
    </div>
    <!-- End changePassowrd -->

    <!-- changePfp -->
    <div class="modal fade" id="changePfp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{data.changeProfilePicture}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form name="userPfp" id="userPfp" method="post" action="/api/uploadPfp">
            <div class="form-group">
                <input type="file" name="image" class="form-control-file" id="addPfp" (change)="readURL($event.target.files)" accept="image/*">
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="submitPfp" class="btn btn-primary" [disabled]="!this.hasUrl" (click)="uploadFileToActivity()">{{data.saveChanges}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{data.close}}</button>
        </div>
        </div>
    </div>
    </div>
    <!-- End changePfp -->



    <app-footer></app-footer>
</main>