<td class="date align-middle" id="date{{Expense._id}}">
    <div class="text-muted" id="year{{Expense._id}}">{{year}}</div>
    <div class="text-muted font-weight-bold" id="month{{Expense._id}}">{{month | monthNumberPipe}}</div>
    <div class="text-muted font-weight-bold" id="day{{Expense._id}}">{{day | doubleDigit}}</div>
</td>
<td class="sredina" id="category{{Expense._id}}">{{Expense.category.name}}</td>
<td class="sredina" id="receiver{{Expense._id}}">{{Expense.recipient}}</td>
<td class="cena align-middle" id="value{{Expense._id}}">
    <span id="price{{Expense._id}}">{{Expense.value}} </span><span id="currency{{Expense._id}}"> {{Expense.currency}}</span>
    <input type="hidden" id="color{{Expense._id}}" value="{{Expense.category.color}}">
</td>
<td class="zadnji align-middle">
    <button [disabled]="!hasConnection()" type="button" class="btn p" data-toggle="modal" aria-label="Edit" [attr.data-target]="'#editForm' + Expense._id"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
</td>
<div class="modal fade expensesModal" #editHistoryModal id="editForm{{Expense._id}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="position-absolute w-100 p-4 d-flex flex-column align-items-end">
        <div class="w-25 toastek">
            <app-toast [name]="'historyName' + Expense._id" [hintBody]="'Input may only contain letters, numbers and some special characters (_@./#&+-: and whitespace). Length allowed: 1-20'" [hintHeader]="'HINT'"></app-toast>
            <app-toast [name]="'historyNumber' + Expense._id" [hintBody]="'Input may only contain decimal numbers separated by .  with max 2 decimal places.'" [hintHeader]="'HINT'"></app-toast>
            <app-toast [name]="'historyDate' + Expense._id" [hintBody]="'Expense cannot be in the future'" [hintHeader]="'HINT'"></app-toast>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input #id type="hidden" name="id" value="{{Expense._id}}">
            <div class="modal-body">
                <div class="ena"><label for="inputGoal">Category</label>
                    <select #category name="kategorija" id="inputCategory{{Expense._id}}" class="form-control">
                        <option selected>{{Expense.category.name}}</option>
                        <option *ngFor ="let category of Categories" id="categoryName{{category._id}}">{{category.name}}</option>
                    </select>
                </div>
                <div class="ena">
                    <label for="Payee">Recipient</label><br>
                    <input type="text" #name id=".historyName{{Expense._id}}" name="prejemnik" class="form-control" placeholder="e.g. Elektro Ljubljana d.d." (focusout)="nameEditHistory()" value="{{Expense.recipient}}"required="required">
                    <div id="{{Expense._id}}txt"></div>
                </div>
                <div class="ena">
                    <label for="Amount">Amount</label><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{Currency}}</span>
                            </div>
                    <input type="number" #amount id=".historyNumber{{Expense._id}}" name="vsota" class="form-control" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" (focusout)="amountEditHistory()" placeholder="e.g. $150.30" value="{{Expense.value}}" step="any"required="required">
                    <div id="{{Expense._id}}amm"></div>
                    </div>
                </div>
                <div class="ena">
                    <label for="datum">Date</label><br>
                    <input type="date" #date id=".historyDate{{Expense._id}}" name="datumcek" (focusout)="dateEditHistory()"class="form-control" value="{{year}}-{{month + 1}}-{{day}}" required="required">
                </div>
            </div>
            <div class="modal-footer">
                <p *ngIf="hasEditMessage"><b>{{editMessage}}</b></p>
                <button id="buttonEditExpense" (click)="buttonEditHistory()" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>