<main>
        <!--- WELCOME SECTION --->
    <app-header [component]="'history'"></app-header>

    <app-welcome [message]="pageData.message" [welcomeMessage]="pageData.welcomeMessage"></app-welcome>

    <div class="container" id="cards-section">
        <div class="row" style="margin-bottom: 3%;">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <!--button type="button" class="btn btn-primary">Date</button-->
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <input class="form-control shadow p-3 mb-5 rounded" id="daterangepicker" type="text" name="daterange" placeholder="01/01/2020 - 31/12/2020" readonly/>
                    </div>

                    <div class="col-3 col-sm-3 col-md-5 col-lg-3 col-xl-3"></div>

                    <div class="col-3 col-sm-3 col-md-3 col-lg-6 col-xl-6">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8 goal-col" style="margin: 0 auto">
                <canvas id="doughnut-canvas" baseChart
                    [data]="pageData.chartData1"
                    [colors]="pageData.chartColors1"
                    [labels]="pageData.chartLabels1"
                    [chartType]="pageData.chartType1">
                </canvas>
                
            </div>
            <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8 goal-col" style="margin: 0 auto; margin-top:5%;">
                
                <canvas id="line-canvas" baseChart
                    [datasets]="pageData.chartData2"
                    [colors]="pageData.chartColors2"
                    [labels]="pageData.chartLabels2"
                    [chartType]="pageData.chartType2">
                </canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 totaltext" id="totaltext">
                
            </div>
        </div>
    </div>

    <div class="container" id="cards-section">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>All expenses</h3>

            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <!-- Search form -->
                <input class="form-control search" type="text" id="search" onkeydown="searchFunction()" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive" data-aos="fade-up" data-aos-duration="500">
                    <table class="table" id="table">
                        <tbody>
                            <tr [history-table-row] *ngFor="let item of expenses" [Expense]='item' [Currency]='currency' [Categories]='categories'></tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <form method="POST" action="/pdf" id="pdf" name="pdf">
                            <!--{{{#each expense}}
                            <input type="hidden" name="date{{id}}" value="{{year}}-{{month}}-{{day}}"/>
                            <input type="hidden" name="category{{id}}" value="{{category}}"/>
                            <input type="hidden" name="recipient{{id}}" value="{{recipient}}"/>
                            <input type="hidden" name="value{{id}}" value="{{value}}"/>
                            <input type="hidden" name="currency{{id}}" value="{{currency}}"/>
                            {{/each}}-->
                        </form>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <a type="button" style="float: right;" class="btn btn-primary" href="javascript:;" onclick="document.getElementById('pdf').submit()">Export to PDF <i class="far fa-file-pdf"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>
</main>