
<td>{{member.name}}</td>
<td><input type="number" #price (focusout)="valueGroupsUtilities()" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" id=".price{{member.id}}" name="price{{member.id}}" class="form-control"  placeholder="Bill amount" step="any" required></td>
<td><input type="number" #paid (focusout)="valueGroupsUtilities2()" onkeydown="return event.keyCode !== 69 && event.keyCode !== 188" id=".paid{{member.id}}" name="paid{{member.idid}}" class="form-control"  placeholder="Money paid" step="any" required></td>
<td>{{member.amount}}</td>

