<div id="data">
    <b *ngIf="envelope.month==month && hasDeleteMessage">{{deleteMessage}}</b>
    <div *ngIf="envelope.month==month" class="row progressRow" id="envelope{{envelope._id}}">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-2">
            <h3 *ngIf="isLow(envelope.progress)">{{envelope.category.name}}</h3>
            <h3 *ngIf="isMedium(envelope.progress)" style="color:#ff7b00">{{envelope.category.name}}</h3>
            <h3 *ngIf="isHigh(envelope.progress)" style="color:red">{{envelope.category.name}}</h3>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-6">
            <div class="progress" style="background-color:{{envelope.bgColor}};">
                <div class="progress-bar"  role="progressbar" style="width:{{envelope.progress}}%; height:auto; background-color:{{envelope.color}}; border-color:{{envelope.color}};" aria-valuenow="{{envelope.progress}}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top">
                    {{envelope.progress}}%
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 envelope-info">
            <p *ngIf="isLow(envelope.progress)" class="info">
                <span>{{envelope.spent}} {{currency}}</span> of <span>{{envelope.budget}} {{currency}}</span>
                <button type="button" (click)="deleteEnvelope()" class="btn edit-btn" aria-label="Delete" data-toggle="modal"><fa-icon [icon]="faMinusSquare"></fa-icon></button>    
                <button type="button" class="btn edit-btn" data-toggle="modal" aria-label="EditEnvelope" [attr.data-target]="'#editForm' +envelope._id" role="button"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
            </p>
            <p *ngIf="isMedium(envelope.progress)" class="info" style="color:#ff7b00">
                <span>{{envelope.spent}} {{currency}}</span> of <span>{{envelope.budget}} {{currency}}</span>
                <button type="button" (click)="deleteEnvelope()" class="btn edit-btn" aria-label="Delete" data-toggle="modal"><fa-icon [icon]="faMinusSquare"></fa-icon></button>    
                <button type="button" class="btn edit-btn" data-toggle="modal" aria-label="EditEnvelope" [attr.data-target]="'#editForm' +envelope._id" role="button"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
            </p>
            <p *ngIf="isHigh(envelope.progress)" class="info" style="color:red">
                <span>{{envelope.spent}} {{currency}}</span> of <span>{{envelope.budget}} {{currency}}</span>
                <button type="button" (click)="deleteEnvelope()" class="btn edit-btn" aria-label="Delete" data-toggle="modal"><fa-icon [icon]="faMinusSquare"></fa-icon></button>    
                <button type="button" class="btn edit-btn" data-toggle="modal" aria-label="EditEnvelope" [attr.data-target]="'#editForm' +envelope._id" role="button"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
            </p>
        </div>
    </div>
</div>